# Loading

In [1]:
%load_ext autoreload
%autoreload 2
from IPython.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

In [184]:
import os
import openai
import pandas as pd
import bamboolib as bam
import json
import sqlalchemy
from sqlalchemy import create_engine
from llm_api import LLM_API

In [3]:
from apikey import apikey
os.environ['OPENAI_API_KEY']=apikey
openai.api_key  = os.getenv('OPENAI_API_KEY')

# Example
 - https://innerjoin.bit.io/make-chatgpt-stop-chatting-and-start-writing-sql-fd5560049ae4

In [56]:

system_prompt = "you are a text-to-SQL translator. You write sqlite code based on plain-language prompts.Do not have line breaks in the output."
user_prompt = """
 - Language sqlite
 - Table = "penguins", columns = [species text, island text, bill_length_mm double precision, bill_depth_mm double precision, flipper_length_mm bigint, body_mass_g bigint, sex text, year bigint]
You are a SQL code translator. Your role is to translate natural language to sqlite. Your only output should be SQL code. Do not include any other text. Only SQL code.
Translate "How many penguins are there in each island and only display islands with more than 10 penguins ?" to a syntactically-correct sqlite query. 
"""

# list of dicts specifying roles and content
query = [{"role":"system", "content": system_prompt},
         {"role":"user", "content": user_prompt}]

print(f'{system_prompt}')
print(f'{user_prompt}')

you are a text-to-SQL translator. You write sqlite code based on plain-language prompts.Do not have line breaks in the output.

 - Language sqlite
 - Table = "penguins", columns = [species text, island text, bill_length_mm double precision, bill_depth_mm double precision, flipper_length_mm bigint, body_mass_g bigint, sex text, year bigint]
You are a SQL code translator. Your role is to translate natural language to sqlite. Your only output should be SQL code. Do not include any other text. Only SQL code.
Translate "How many penguins are there in each island and only display islands with more than 10 penguins ?" to a syntactically-correct sqlite query.

In [57]:
completion = openai.ChatCompletion.create(
    model="gpt-3.5-turbo",
    messages=query,
)
print(completion.choices[0].message)

{
  "content": "SELECT island, COUNT(*) AS num_penguins\nFROM penguins\nGROUP BY island\nHAVING num_penguins > 10;",
  "role": "assistant"
}

In [65]:
completion

<OpenAIObject chat.completion id=chatcmpl-7HlmbzqSIruO108UVNJF94dTBKMOy at 0x18549870900> JSON: {
  "choices": [
    {
      "finish_reason": "stop",
      "index": 0,
      "message": {
        "content": "SELECT island, COUNT(*) AS num_penguins\nFROM penguins\nGROUP BY island\nHAVING num_penguins > 10;",
        "role": "assistant"
      }
    }
  ],
  "created": 1684469609,
  "id": "chatcmpl-7HlmbzqSIruO108UVNJF94dTBKMOy",
  "model": "gpt-3.5-turbo-0301",
  "object": "chat.completion",
  "usage": {
    "completion_tokens": 27,
    "prompt_tokens": 161,
    "total_tokens": 188
  }
}

In [6]:
completion.choices[0].message['content']

'SELECT island, COUNT(*) AS num_of_penguins \nFROM penguins \nGROUP BY island \nHAVING num_of_penguins > 10;'

In [29]:
tt='SELsECT island, sOUNT(*) a num_penguins \nFROM penguins \nGROUP BY island \nHAVING num_penguins > 10;'
tt

'SELsECT island, sOUNT(*) a num_penguins \nFROM penguins \nGROUP BY island \nHAVING num_penguins > 10;'

In [30]:
check_sql_syntax(completion.choices[0].message.content)

SQL syntax is valid.

In [9]:
print(user_prompt)

 - Language PostgreSQL
 - Table = "penguins", columns = [species text, island text, bill_length_mm double precision, bill_depth_mm double precision, flipper_length_mm bigint, body_mass_g bigint, sex text, year bigint]
You are a SQL code translator. Your role is to translate natural language to PostgreSQL. Your only output should be SQL code. Do not include any other text. Only SQL code.
Translate "How many penguins are there in each island?" to a syntactically-correct PostgreSQL query.

In [22]:
import sqlparse

def check_sql_syntax(sql_string):
    try:
        parsed = sqlparse.parse(sql_string)
        print("SQL syntax is valid.")
    except sqlparse.exceptions.SQLParseError as e:
        print("Invalid SQL syntax:", str(e))

# Example usage
sql_string = "SELECT * FROM my_table WHERE column = 'value'"
check_sql_syntax(sql_string)

SQL syntax is valid.

In [35]:
print(sqlparse.format(completion.choices[0].message.content, reindent=True, keyword_case='upper'))

SELECT island,
       COUNT(*) AS num_penguins
FROM penguins
GROUP BY island
HAVING num_penguins > 10;

# Example 
- https://dev.classmethod.jp/articles/convert-a-natural-language-query-into-an-sql-query-using-openai-api/

In [79]:
df = pd.read_csv("data/fruits_raw.csv")

In [155]:
df

           Fruit        Shape   Taste      Season  Calories   Fat  \
0          Apple        Round   Sweet        Fall        95   0.3
1         Banana         Long   Sweet      Summer       105   0.4
2         Orange        Round   Sweet      Winter        62   0.1
3          Peach        Round   Sweet      Summer        62   0.1
4     Strawberry        Round   Sweet      Summer        46   0.3
5        Apricot        Round   Sweet      Summer        48   0.1
6        Avocado         Oval  Creamy  Year-round       160  15.0
7         Banana         Long   Sweet      Summer       105   0.4
8     Blackberry        Round   Sweet      Summer        43   0.3
9      Blueberry        Round   Sweet      Summer        57   0.4
10    Cantaloupe        Round   Sweet      Summer       104   0.2
11        Cherry        Round   Sweet      Summer        77   0.2
12    Clementine        Round   Sweet      Winter        52   0.1
13          Date       Oblong   Sweet        Fall        67   0.2
14   Dragonfruit        Round   Sweet      Summer        62   0.2
15        Durian         Oval  Strong  Year-round       147   9.0
16           Fig        Round   Sweet      Summer        58   0.3
17    Grapefruit        Round    Sour      Winter        62   0.1
18         Grape        Round   Sweet      Summer        62   0.1
19         Guava         Oval   Sweet      Summer        68   0.4
20      Honeydew        Round   Sweet      Summer       104   0.2
21     Jackfruit         Oval   Sweet      Summer       195   1.1
22     Kiwifruit       Oblong   Sweet      Summer        61   0.1
23         Lemon        Round    Sour  Year-round        29   0.1
24          Lime        Round    Sour  Year-round        28   0.1
25         Mango         Oval   Sweet      Summer       107   0.5
26         Melon        Round   Sweet      Summer       104   0.2
27     Nectarine        Round   Sweet      Summer        68   0.1
28        Orange        Round   Sweet      Winter        62   0.1
29        Papaya         Oval   Sweet      Summer       120   0.5
30  Passionfruit        Round   Sweet      Summer        97   0.3
31         Peach        Round   Sweet      Summer        62   0.1
32     Pineapple         Oval   Sweet      Summer        85   0.1
33   Pomegranate        Round   Sweet        Fall       144   4.8
34     Raspberry        Round   Sweet      Summer        62   0.3
35       Rhubarb        Stalk    Sour      Spring        17   0.1
36        Sapote         Oval   Sweet      Winter       123   0.4
37     Starfruit  Star-shaped   Sweet      Summer        62   0.2
38    Strawberry        Round   Sweet      Summer        46   0.3
39      Tamarind         Oval    Sour      Summer       107   1.1
40    Watermelon        Round   Sweet      Summer       126   0.6
41          Yuzu        Round    Sour      Winter        47   0.1

    Carbohydrates  Sugar  Protein  Fiber
0              25     19      0.5    4.0
1              27     19      1.1    3.0
2              15     12      1.3    4.0
3              15     12      1.3    4.0
4              12      8      1.5    2.0
5              11      8      1.0    2.0
6              15     10      4.0    7.0
7              27     19      1.1    3.0
8              12      8      1.4    3.0
9              14     10      1.1    2.0
10             27     19      1.1    1.0
11             18     15      1.0    2.0
12             12      8      1.0    2.0
13             20     15      2.3    3.0
14             17     12      1.0    3.0
15             25     14      4.5    7.0
16             19     14      2.2    3.0
17             15     12      1.3    4.0
18             15     12      1.3    4.0
19             22     16      1.5    3.0
20             27     19      1.1    1.0
21             34     24      2.5    5.0
22             15     12      1.1    2.0
23             12      8      0.7    1.0
24             11      8      0.6    1.0
25             24     19      1.4    3.0
26             27     19      1.1    1.0
27             16     12      1.1    2.0
28             15     12      1.3    4.0
29             28     22      1.1    2.0
30             23     16      1.2    3.0
31             15     12      1.3    4.0
32             21     15      1.0    1.5
33             35     29      3.5    6.0
34             15     12      1.5    2.0
35              4      3      0.9    1.0
36             28     22      1.2    3.0
37             17     12      1.0    3.0
38             12      8      1.5    2.0
39             24     19      1.4    3.0
40             25     20      1.5    4.0
41             11      8      0.7    1.0

In [80]:
temp_db = sqlalchemy.create_engine('sqlite:///:memory:')

In [170]:
def pushDb(df,tbl="FRUITS"):
    '''TODO : Purge all existing tables before pushing'''
    df.to_sql(name=tbl, con=temp_db, if_exists='replace')

In [83]:
def execDB(sqlString):
    with temp_db.connect() as conn:
        result = conn.execute(sqlalchemy.text(sqlString))
    return pd.DataFrame(result.all())

In [138]:
def getColsDB():
    ''' Get Col names from table (assume single table)'''
    retString=None
    inspector = sqlalchemy.inspect(temp_db)
    table_names = inspector.get_table_names()
    table_name=table_names[0]
    retString=f"Table = {table_name}, "
    columns = inspector.get_columns(table_name)
    retString+=f"Columns = ["
    for col in columns:
        retString+=f"{col['name']} {col['type']}, "
    retString+="]"
    return retString

In [144]:
def nlp_query():
    nlp_text= input("Enter the query: ")
    return nlp_text

In [185]:
def get_sql(nlp_query='Can you list the number of fruits per shape ?'):
    system_prompt = "you are a text-to-SQL translator. You write sqlite code based on plain-language prompts.Do not have line breaks in the output."
    prompt=f"""
     - Language = sqlite
     - {getColsDB()}
    You are a SQL code translator. Your role is to translate natural language text delimited by triple backticks to sqlite. Your only output should be SQL code. Do not include any other text. Only SQL code.
    Translate ```{nlp_query}``` to a syntactically-correct sqlite query. 
    """
    print(prompt)
    response=LLM_API.get_completion(prompt,system_prompt)
    print(f'response:\t{response}')
    return response

In [186]:
tt=get_sql()

     - Language = sqlite
     - Table = FRUITS, Columns = [index BIGINT, Fruit TEXT, Shape TEXT, Taste TEXT, Season TEXT, Calories BIGINT, Fat FLOAT, Carbohydrates BIGINT, Sugar BIGINT, Protein FLOAT, Fiber FLOAT, ]
    You are a SQL code translator. Your role is to translate natural language text delimited by triple backticks to sqlite. Your only output should be SQL code. Do not include any other text. Only SQL code.
    Translate ```Can you list the number of fruits per shape ?``` to a syntactically-correct sqlite query.

messages:
[{'role': 'system', 'content': 'you are a text-to-SQL translator. You write sqlite code based on plain-language prompts.Do not have line breaks in the output.'}, {'role': 'user', 'content': '\n     - Language = sqlite\n     - Table = FRUITS, Columns = [index BIGINT, Fruit TEXT, Shape TEXT, Taste TEXT, Season TEXT, Calories BIGINT, Fat FLOAT, Carbohydrates BIGINT, Sugar BIGINT, Protein FLOAT, Fiber FLOAT, ]\n    You are a SQL code translator. Your role is to translate natural language text delimited by triple backticks to sqlite. Your only output should be SQL code. Do not include any other text. Only SQL code.\n    Translate ```Can you list the number of fruits per shape ?``` to a syntactically-correct sqlite query. \n    '}]
Response received from OpenAI
response:	SELECT Shape, COUNT(Fruit) AS Num_Fruits
FROM FRUITS
GROUP BY Shape;

In [187]:
execDB(tt)

         Shape  Num_Fruits
0         Long           2
1       Oblong           2
2         Oval           9
3        Round          27
4        Stalk           1
5  Star-shaped           1

In [164]:
execDB(completion.choices[0]['message']['content'])

         Shape  Number_of_Fruits
0         Long                 2
1       Oblong                 2
2         Oval                 9
3        Round                27
4        Stalk                 1
5  Star-shaped                 1

In [168]:
completion['usage']['total_tokens']

182

In [76]:
# temp_db = sqlalchemy.create_engine('sqlite:///:memory:')
# df.to_sql(name="FRUITS", con=temp_db, if_exists='replace')
# temp_db.dispose()
# with temp_db.connect() as conn:
# result = conn.execute(sqlalchemy.text())

# results_output=result.all()
# pd.DataFrame(results_output)
# # Iterate over the table names
# for table_name in table_names:
#     # Get the column information for each table
    
    
#     # Print the table name
#     print("Table:", table_name)
    
#     # Print the column names and types
#     for column in columns:
#         print("Column:", column['name'])
#         print("Type:", column['type'])
        
#     print()

In [173]:
# system_prompt = "you are a text-to-SQL translator. You write sqlite code based on plain-language prompts.Do not have line breaks in the output."
# user_prompt=f"""
#  - Language = sqlite
#  - {getColsDB()}
# You are a SQL code translator. Your role is to translate natural language text delimited by triple backticks to sqlite. Your only output should be SQL code. Do not include any other text. Only SQL code.
# Translate ```{nlp_query()}``` to a syntactically-correct sqlite query. 
# """

# # list of dicts specifying roles and content
# query = [{"role":"system", "content": system_prompt},
#          {"role":"user", "content": user_prompt}]

# print(f'{system_prompt}')
# print(f'{user_prompt}')


# completion = openai.ChatCompletion.create(
#     model="gpt-3.5-turbo",
#     messages=query,
# )
# print(completion.choices[0].message)

In [175]:
# def printColsDB():
#     ''' Get Col names from table (assume single table)'''
#     inspector = sqlalchemy.inspect(temp_db)
#     table_names = inspector.get_table_names()
#     table_name=table_names[0]
#     print(f"Table = {table_name}")
#     columns = inspector.get_columns(table_name)
#     print(f"Columns = ",end='[')
#     for col in columns:
#         print(f"{col['name']} {col['type']},",end=' ')
#     print("]")